{% extends 'form.html' %}



{% block other_bottons %}
    <button id="send_code" class="btn btn-primary">发送验证码</button>
{% endblock %}


{% block script_extends %}
    <script type="text/javascript">
        // 发送验证码标签的点击行为
        $("#send_code").click(function(){
            // 网页检查元素发现id为id_email,将他得值赋给email
            var email = $("#id_email").val();
            if(email==''){
                // 显示提示信息
                $("#tip").text("邮箱不能为空");
                return false;
            }

            // 发送验证码
            $.ajax({
                url: "{% url 'send_verification_code' %}",
                type: 'GET',
                data: {
                    'email': email,
                    // 发送验证码为了干嘛
                    'send_for': 'bind_email_code'
                },
                cache: false,
                success: function(data){
                    if(data['status'=='ERROR']){
                        alter(data['status'])
                    }
                }
            });
            // 把按钮变灰
            $(this).addClass('disabled');
            $(this).attr('disabled', true);
            var time = 30;
            $(this).text(time + 's');
            var interval = setInterval(() => {
                if(time <= 0){
                    clearInterval(interval);
                    $(this).removeClass('disabled');
                    $(this).attr('disabled', false);
                    $(this).text('发送验证码');
                    return false;
                }
                time --;
                $(this).text(time + 's');
            }, 1000);
        });
    </script>
{% endblock %}